/* CSS declarations go here */
body {
    background-color: lightblue;
	background-color: cornflowerblue;
	color:red;
}

.jumbotron{
	color: RED; /* #FFFFFF; */
    background: url("bg.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}


h1 {
    color: pink;
    margin-left: 20px;
}

.big {
	width: 200px;
	color:red;
	font-stryle:italic;
}

body {
		background-image: url('images/quadrangle.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-color: white;
	}

	h1 {
		font-family: "Brush Script MT", cursive;
		font-size: 70px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		text-align: center;
		color: red;
	} 
	h2 {
		font-family: "Times New Roman", Times, serif;
		font-size: 50px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: left;
		background-color: black;
		color: blue;
	}
	
	#dropdown{
 width:100px;
height: 30px;
		color: black; 

}

#dropdown option{
  font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: center;
		color: black; 
background-color: blue;		
}
	
	h3 {
		 font-family: "Times New Roman", Times, serif;
		font-size: 50px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: center;
		color: black;
	}
	
	.p1 {
		font-family: "Times New Roman", Times, serif;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: left;
		color: white;
				background-color: black;

	}
	
	.p2 {
		font-family: "Times New Roman", Times, serif;
		font-size: 40px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: left;
		color: black;
			

	}
	
	.p3 {
		font-family: "Times New Roman", Times, serif;
		font-size: 40px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: left;
		color: black;
		background-color: red;
		text-align: center;
		border: 5px solid gray;
		padding-left: 5cm;
		padding-right: 5cm;	

	}
	h3 {
		font-family: "Brush Script MT", cursive;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		line-height: 26.4px;
		text-align: center;
		color: yellow;
	}
	
	input[type="text"] {
	background-color: #e6e6e6;
    font-size:18px;
	}
	
	label {
	color: #B4886B;
	font-weight: bold;
	display: block;
	width: 150px;
	float: left;
	}
	
	label.valid {
	  width: 24px;
	  height: 24px;
	  background: url(assets/img/valid.png) center center no-repeat;
	  display: inline-block;
	  text-indent: -9999px;
	}
	
	label.error {
		font-weight: bold;
		color: rgba(255, 21, 21, 0.91);
		padding: 0px 14px;
		margin-top: -1px;
		position: absolute;
	}

*
{
    color:#FFF;
    font-family: inherit;
}

.center {
    display: block;
    margin: auto;
    width: 40%;
}

.form-controlllll {
display: block;
width: 100%;
height: 38px;
padding: 0px 14px;
font-size: 14px;
line-height: 1.428571;
color: #FFF;
background-color: rgba(255, 255, 255, 0);
background-image: none;
border: 1px solid rgba(255, 244, 244, 0.58);
border-radius: 9px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
margin: 3px;
}

  

/* all */
::-webkit-input-placeholder { color:#f00; }
::-moz-placeholder { color:#f00; } /* firefox 19+ */
:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }